body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f3f4f6;
}

/* Layout */
.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px; /* slightly improved */
  height: 100vh;
  background: #f9fafb;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* Logo */
.logo-box {
  font-weight: 800;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Sidebar menu */
.menu {
  margin-top: 20px;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  color: #374151;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.menu:hover {
  background: #e5e7eb;
}

/* Active menu */
.menu.active {
  background: #dbeafe;
  color: #1d4ed8;
}

/* Logout menu */
.menu.logout {
  margin-top: 12px;
}

/* Bottom sidebar section */
.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* User card */
.user {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #e5e7eb;
  padding: 10px;
  border-radius: 12px;
}

/* Avatar */
.avatar {
  background: #3b82f6;
  color: white;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
}

/* User text */
.user p {
  margin: 0;
  font-weight: 500;
}

.user span {
  font-size: 12px;
  color: #6b7280;
}

/* Main */
.main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  align-self: flex-start;
}

/* Top */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.top-bar h1 {
  margin: 0;
  font-size: 26px;
}

.top-bar p {
  color: #6b7280;
  margin-top: 4px;
}

/* Button */
.new-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  display: flex;  
  align-items: center;
  gap: 6px;  
}

.new-btn:hover {
  background: #1e40af;
}

/* Stats */
.stats {
  display: flex;
  gap: 24px;
  margin-top: 25px;
}

/* Cards */
.stat-card {
  background: white;
  border-radius: 16px;
  padding: 24px;
  width: 220px;

  display: flex;
  flex-direction: column;
  align-items: center;     /* horizontal center */
  justify-content: center; /* vertical balance */
  text-align: center;
  gap: 10px;
}

.stat-card p {
  color: #6b7280;
  margin: 5px 0;
}

.stat-card h2 {
  margin: 0;
}

/* Section */
.section-title {
  margin-top: 32px;
}

/* Empty box */
.empty-box {
  margin-top: 15px;
  border: 2px dashed #d1d5db;
  padding: 45px;
  text-align: center;
  border-radius: 14px;
  background: #f9fafb;
}

.icon-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eaf2ff;   /* light blue circle */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2563eb;              /* icon blue color */
}

